body{
    font-size: 0;
    font-family: sans-serif;
    background-image: url("fondodbb.jpg");
    padding: 20px;
    padding-top: 10px;
    line-height: 0;
    transition-duration: .2s;
    padding-bottom: 80px;
    background-size: cover;
}

.head-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 125px;
    width: 90vw;
    font-size: 15px;
    background: linear-gradient(180deg,#8d2302de,#fc9a07da,#8d2302de);
    border-radius: 4px;
}
.name-input{
    height: 50px;
    width: 40%;
    margin: 10px 0px;
    font-size: 16px;
    text-align: center;
    background-color: #dfdddd;
    border: none;
    transition-duration: .3s;
    border-radius: 3px;
    opacity: 1;
}

.name-input:hover{
    background-color: #e7e3e3;
    transform: scale(1.01,1.01);
}

.name-input:focus{
    outline: none;
    background-color: #f5f4f4;
}

.name-send{
    height: 50px;
    width: 40%;
    margin: 10px 0px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition-timing-function: ease-out;
    transition-duration: .1s;
    border-radius: 3px;
}

.name-send:hover{
    transform: scale(1.03,1.03);
    box-shadow: 0px 0px 8px black;
    font-weight: bold;
}

.name-send:active{
    transform: scale(1,1);
    box-shadow: none;
}

.flex-dbbdata{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 5px;
    width: 90vw;
    min-height: 500px;
    margin-top: 10px;
    background: linear-gradient(180deg,#8d2302de,#aa7c37da,#8d2302de);
    border-radius: 4px;
    overflow: hidden;
}

.entry{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    width: 95%;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.253);
    animation-duration: .3s;
    animation-fill-mode:both;
    border-radius: 3px;
    transition-duration: 1s;
}

.entry-name{
    height: 50%;
    min-width: 100px;
    margin: 2px;
    font-size: 20px;
    padding: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
    flex-grow: 2;
}

.entry-name:focus{
    outline: none;
}

.entry-save{
    height: 95%;
    max-width: 17%;
    min-width: 80px;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    color: rgb(0, 99, 0);
    background-color: rgba(255, 255, 255, 0.726);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.entry-delete{
    height: 40px;
    max-width: 17%;
    min-width: 100px;
    margin: 2px;
    font-size: 15px;
    padding: 20px;
    font-weight: bold;
    color: rgb(209, 0, 0);
    background-color: rgba(255, 255, 255, 0.726);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    flex-grow: 1;
    box-sizing:border-box;
    border-radius: 5px;
    cursor: pointer;
}

.toolbutton:hover{
    transition-duration: .1s;
    transform: scale(0.95,0.95);
    border: 1px solid black;
}

.toolbutton:active{
    background-color: rgba(0, 0, 255, 0.226);
    color: white;
}

.notavailable{
    filter: opacity(.4) grayscale(.4);
    pointer-events: none;
}

.helper{
    position: absolute;
    left: 10px;
    top: 89vh;
    padding: 2px;
    z-index: 1000;
    height: 65px;
    width: 220px;
    overflow: hidden;
    object-fit: contain;
}

.helper .warning{
    height: 100%;
    width: 29%;
    filter: grayscale(.3) contrast(1.2);
    -webkit-user-select: none;
    user-select: none;
}

.helper .message{
    height: 100%;
    width: 55%;
    margin-left: 10px;
    font-size: 8px;
    -webkit-user-select: none;
    user-select: none;
    opacity: 1;
    filter: saturate(2)
}

.texto{
    position: absolute;
    height: 70%;
    width: 60%;
    top: 10%;
    right: 10%;
    z-index: 2000;
    padding: 0px 10px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    opacity: 1;
    color: rgb(19, 19, 19);
    text-shadow: 2px 2px 2px white, -2px 2px 2px white, 2px -2px 2px white, -2px -2px 2px white;
    overflow: hidden;
    line-height: 90%;
    animation-duration: .4s;
    font-family: 'Teko', sans-serif;
}

@keyframes desaparecer{
    from{}
    to{transform: translateX(100vw);}
}

@keyframes aparecer{
    from{transform: translateX(-100vw);}
    to{}
}










